*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: MS Shell Dlg;
    color:black;
    width: 100%;
    height: 100%;
}
nav{
    border: solid rgb(54, 54, 54);
    background: #ffffff;
    border-width: 0.5px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    width: 87%;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
}
nav ul{
    float: left;
}
label.logo{
    color: black;
    font-family: inherit;
    font-size: 25px;
}
nav ul li{
    padding: 0px 10px 0px 30px;
    display: inline-block;
}
img.icons{
    width: 30px;
    position: relative;
    transition: 300ms cubic-bezier(.18,.89,.32,1.28);
    border: #ffffff;
    border-radius: 3px;
    background: white;
    overflow: hidden;
}
div.searchBar{
    border-radius: 5px;
    border: solid rgb(54, 54, 54);
    border-width: 0.5px;
    float: right;
}
.sicon{
    width: 30px;
    height: 30px;
    float: left; /*WHY WON'T YOU FLOAT LEFT TT*/
}
#grad{
    height: 1300px;
    background: #ffffff;
    background-image: url(icons/heart.png) , linear-gradient(to bottom right, white, rgb(255, 213, 213));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/*#bgImg{
    background-image: url(heart.png);
}*/
#wrapperBody{
    height: 90%;
    margin: auto;
    margin-top: 1%;

}
#headingWrapper{
    margin: 10px 28.9% 30px;
}
h1.mainTitle{
    font-size: 300%;
    font-family: Oswald;
    font-weight: normal;
    letter-spacing: 1.3px;
    animation: right-to-left 1s cubic-bezier(.18,.89,.32,1.28);
}
#subtext{
    margin-top: 0.8px;
    font-family: Oswald;
    color: #404040;
    letter-spacing: .275px;
    font-size: 17px;
    display: inline-block;
}
.mainContent{
    margin: 30px 28.9%;
}
.socialLink{
    font-family: 'Modern No. 20';
    color: #ffffff;
    background-color: black;
    width: fit-content;
    padding: 1px 3px 1px 0px;
    text-align: left;
    font-weight: 444;
    font-size: 35px;
    transition: 600ms cubic-bezier(.18,.89,.32,1.28);
}
hr{
    border-top: 0.5px black;
}
/*
.dashEffect{
    color: black;
    letter-spacing: -1px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 600ms cubic-bezier(.18,.89,.32,1.28);
}
*/
/*hover anims*/
img.icons:hover{
    transform: translateY(15%);
}
.socialLink:hover{
    transform: translateX(11%);
    background-color: #ffffff;
    color: #404040;
}
/*enter site anims*/
@keyframes spin{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}
/*
/*hover anims*/
.typewriteSubtext{
    content:'';
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(57), cursor .4s step-end infinite alternate;
    /*put stuff here later*/
}
@keyframes cursor{
    50% { border-color: transparent; }
}
@keyframes typing{
    from { width: 0; }
}
/*
@keyframes right-to-left{   The site will play these animations every time it reloads. nope nvm I can't do this.

}
*/

/*anim archives
text-shadow: rgb(255, 255, 255) 1px 0 10px;
transition: 600ms cubic-bezier(.18,.89,.32,1.28);

#home{
    animation: spin 1.5s cubic-bezier(.18,.89,.32,1.28);
}

img.icons::after{
    content: '';
    background: red;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: width 150ms cubic-bezier(.18,.89,.32,1.28);
}
img.icons:hover::after{
    width: 100%;
}

*/